<div class="structure">
<h1>A series of thoughts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td id="b1"><%= blog.title %></td>
    <td id="b2"><%= blog.body %></td>
    <td id="b3"><%= blog.time %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<center>
<%= link_to 'Post a Thought', new_blog_path, class: "btn btn-large btn-block" %>
</center>
</div>