<header>

  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Panoposts", root_path, id: "logo" %>
        <nav>
          <ul class="nav pull-left">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", 'about_path' %></li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to "Register", '#' %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="title">
  Panoposts
  </div>
  <BR>
    <BR>
</header>